on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on fs
    install_keyring

on fs
    wait /dev/block/platform/bootdevice/
    symlink /dev/block/platform/bootdevice/ /dev/block/bootdevice
    write /sys/devices/platform/charger/power_supply/otg/otg_switch 1


    start hwservicemanager
    start servicemanager

service hwservicemanager /sbin/hwservicemanager
    user root
    group root readproc
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /sbin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /sbin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service mobicore /vendor/bin/mcDriverDaemon
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service hal_cryptoeng_oppo /sbin/vendor.oppo.hardware.cryptoeng@1.0-service
    user root
    group root input sdcard_rw sdcard_r
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /sbin/android.hardware.keymaster@4.0-service.trustonic
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0
	
service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
	
service mobicore /sbin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05070000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/030b0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/03100000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/030c0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin \
    -r /vendor/app/mcRegistry/070c0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/090b0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/0f5eed3c3b5a47afacca69a84bf0efad.drbin \
    -r /vendor/app/mcRegistry/07060000000000000000000000007169.drbin \
    -r /vendor/app/mcRegistry/07407000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/9073f03a9618383bb1856eb3f990babd.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start mobicore
    start hal_cryptoeng_oppo
    start keymaster-4-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop mobicore
    stop hal_cryptoeng_oppo
    stop keymaster-4-0
    stop servicemanager
    stop hwservicemanager
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop hal_cryptoeng_oppo
    stop keymaster-4-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true && property:twrp.all.users.decrypted=true
    stop mobicore
    stop hal_cryptoeng_oppo
    stop keymaster-4-0
    stop servicemanager
    stop hwservicemanager
    stop gatekeeper-1-0

on boot
    # Enable Power modes and set the CPU Freq Sampling rates
    write /proc/hps/enabled 0
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq 300000
    setprop recovery.perf.mode 0

on property:recovery.perf.mode=1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

on property:recovery.perf.mode=0
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 0
